/* google fonts poppins */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: 'Poppins', sans-serif;
}
.container{
   height: 100vh;
   width: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
   background-color:#171C24 ;
}
.form{
   position: absolute;
   max-width: 430px;
   width: 100%;
   padding: 75px;
   border-radius: 6px;
   background-color: #fff;
}

.form.signup{
   opacity: 0;
   pointer-events: none;
}
.forms.show-signup .form.signup{
   opacity: 1 ;
   pointer-events: auto;
}
.forms .show-signup .form.login{
   opacity: 1 ;
   pointer-events: auto;
}
header{
   font-size:28px ;
   font-weight: 600;
   color: #232836;
   text-align: center;
}
form{
   margin-top: 30px;
}

form .feild{
   height: 50px;
   width: 100%;
   margin-top: 20px;
}
.feild input,
.feild button{
   height: 100%;
   width: 100%;
   border: none;
   font-size: 16px;
   font-weight: 400;
   border-radius: 6px;
}
.feild button {
   background-color:#eae8e8;
   color:#60360b;
   transition: all 0.3s ease;
}
.feild button:hover{
   background-color:#171C24;
   color: white;
}

.feild input{
   padding: 0 15px;
   border: 1px solid #cacaca;
}

.feild input:focus{
   border-bottom-width: 2px;
}

.form-link{
   text-align: center;
   margin-top: 10px;
}

.form-link span,
.form-link span a{
   font-size: 14px;
   font-weight: 400;
}

.form a{
   text-decoration: none;
}


.form a:hover{
   text-decoration: underline;
}

.form .signup{
   margin-left: 10p;
}